@model Gighub.ViewModel.GigDetailModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="details" >
    <h3>@Model.Gig.Artist.Name</h3>
    <p>Performing at @Model.Gig.Venue on @Model.Gig.DateTime.ToString("dd MMM") at @Model.Gig.DateTime.ToString("HH:mm")</p>
    @if (Model.IsAttending)
    {
        <p>You are attending this Gig</p>
    }
</div>

